.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 20px; /* Añade padding para asegurar espacio en los bordes en pantallas pequeñas */
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column; /* Cambia a columna por defecto */
  gap: 20px;
}

.listSearch {
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem > label {
  font-size: 12px;
}

.lsItem > input {
  height: 30px;
  border: none;
  padding: 5px;
}

.lsItem > span {
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions {
  padding: 10px;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput {
  width: 50px;
}

.listSearch > button {
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 3;
}

/* Media queries para pantallas medianas y pequeñas */
@media (min-width: 768px) {
  .listWrapper {
    flex-direction: row; /* Cambia a fila en pantallas medianas y grandes */
  }
}

@media (max-width: 768px) {
  .listWrapper {
    gap: 10px; /* Reduce el espacio entre elementos en pantallas pequeñas */
  }

  .lsTitle {
    font-size: 18px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
  }

  .listSearch {
    position: static; /* Cambia la posición a estática en pantallas pequeñas */
    top: auto;
  }

  .listSearch > button {
    padding: 8px; /* Ajusta el padding del botón en pantallas pequeñas */
  }
}
