.homeContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 20px; /* Añade un poco de padding en los bordes para pantallas pequeñas */
}

.homeTitle {
  width: 100%; /* Utiliza el ancho completo del contenedor */
  max-width: 1024px; /* Establece un ancho máximo para evitar que el texto se extienda demasiado */
  font-size: 20px;
}

@media (max-width: 768px) {
  .homeTitle {
    font-size: 18px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
  }
}
